.searchForm {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--color-search-border);
  border-radius: 7px;
  padding: 0 1.2rem;
}

.searchForm__input {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  width: 24rem;
  color: var(--color-grey-light);
}

.searchForm__input::placeholder {
  color: var(--color-grey-light);
}

.searchForm__button {
  box-shadow: none;
  background: none;
  color: var(--color-grey-light);
  border: 1px solid var(--color-search-border);
  border-radius: 3px;
  cursor: pointer;
}
